.mat-cd{
    width: 800px;
    margin: 50px 200px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    padding: 0 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}